@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Force dark mode */
  --foreground-rgb: 255, 255, 255; /* White text */
  --background-start-rgb: 0, 0, 0; /* Black background */
  --background-end-rgb: 0, 0, 0;   /* Black background */
  --foreground-light: rgb(255, 255, 255); /* White text */
  --foreground-dark: rgb(0, 0, 0); /* Black text */
}

body {
  background: rgb(var(--background-start-rgb));
  color: rgb(var(--foreground-rgb));
}

  
  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }

@layer base {
    h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
    }

    h1 {
        @apply text-4xl sm:text-5xl md:text-6xl;
    }

    h2 {
        @apply text-3xl;
    }
    li {
        @apply cursor-pointer;
    }
}