@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --foreground-light: rgb(0, 0, 0);
  --foreground-dark: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 25, 25, 25;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    180deg,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  background-color: #000319; /* Fallback background color */
}
  
  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }

@layer base {
    h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
    }

    h1 {
        @apply text-4xl sm:text-5xl md:text-6xl;
    }

    h2 {
        @apply text-3xl;
    }
    li {
        @apply cursor-pointer;
    }
}